/* font-family: 'bree serif', serif; 
font-family: 'montserrat', sans serif; */

<style> 
			.white-text {
			color: white; 
			} 

			 
			.bree-serif-regular {
			font-family: "bree serif", serif; 
			font-weight: 400;
			font-style: normal; 
			}

			
			.roboto-light {
			font-family: "roboto" . sans-serif; 
			font-weight: 300; 
			font-style: normal;
			}

			.merriweather-regular { 
			font-family: "merriweather" , serif; 
			font-weight: 400; 
			font-style: normal;
			}

			.lavender-background {
			background-color: lavender; 
			
			}
			

		.index-img img {

		 max-width: 500px;
		 display: flex;
		 justify-content: center;
		 margin: auto;


		}
		

.skip-link { 
position: absolute; 
width: 1px;
height: 1px; 
padding: 0px;
margin: -1px; 
overflow: hidden; 
border: 0;
}

.skip-link:focus{
width: unset;
height: unset;
position: relative;
padding: unset;
margin: unset;
font-size: 2rem; 
}

html {
font-size: 20px;
}

body {
margin: 0px;
background-color: grey;
font-family: 'bree serif', serif; 
}

main {
width: 90%;
max-width: 1000px;
background: #grey;
border-radius: 1rem; 
padding: 2rem; 
box-sizing: border-box; 
margin: 1rem auto; 
}

/*beginning updated nav and ul*/
nav {
color: #800080;
background-color: #CBC3E3;
padding: 0;
display: block;
margin: 0;
border-bottom: 3px solid #FFF;
}
/*end of updated nav and ul*/

nav a {
color: #800080;
}

a {
font-weight: bold;
font-style: italic;
text-decoration: none;
}

h1 { 

	font-size: 2rem;
	color: #FFF;
	background: #gray;
	text-align: center;
	text-transform: capitalize;

 }


h1, h2, h3 {
font-family: 'monoserrat', sans serif;
margin: 0;
}

h2 {
font-weight: 700;
font-style: italic;
}

p {
font-weight: 500;
font-style: normal;
color:grey;
}

li {
list-style-type: none;
font-style: italic;
}

nav li nav li a {
width: 100%; 
text-align: center; 
display: flex;
justify-content: center; 
align-items: center; 
}

.active {
background-color: #800080;
color: #FFF;
padding: 1rem; 
}

/*footer section*/
footer {
background:black;
color:white;
width: 100%;
margin: 0;
padding: 1rem;
box-sizing: border-box;
text-align: center;
font-weight: bold;
}

.image-holder, .text-holder {
width: 100%;
padding: 0;
margin: 0;
display: flex;
flex-direction: column; 
box-sizing: border-box; 
}

.image-holder img {
width: 100%;
max-width: 250px;
margin: 0 auto; 
}

address {
font-style: normal;
}

.gallery-image {
width: 100%;
}

.button-holder {
display: flex; 
flex-direction: row; 
justify-content: space-between; 
margin-tup: 1rem;
}

.button {
background-color:#800080;
border: none;
color: #FFF;
text-align: center;
text-decoration: none;
font-weight: bold;
display: block;
cursor: pointer;
width: 100px;
padding: 0rem 1rem;
border-radius: 5px;
}

/* when browser is at least 555px wide*/
@media (min-width: 555px) {

.media-holder {
flex-direction: row;
}

.image-holder {
width: 30%;
}

.media-list .text-holder {
width: 70%;
}

nav ul {
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

nav li {
width: 50%;
}

}

/*when browser is at least 800px wide*/
@media (min-width: 800px) {

.image-holder {
width: 250px;
}

.media-list .text-holder {
width: calc(100% - 250px);
}

nav li {
width: 25%;
}

}












